{% load static %} {% load bootstrap4 %} {% load render_table from django_tables2 %} {% load querystring from django_tables2 %}
<!DOCTYPE html>
<html lang="en">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-L9XR41T4TF"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-L9XR41T4TF');
</script>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Portfolio webpage" />
<meta name="author" content="Andrew Frankenreider" />

<link type="text/css" href="https://fonts.googleapis.com/css?family=Lobster|Montserrat|Raleway" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css" />

<link rel="shortcut icon" href="{% static 'images/tree_icon.png' %}" />
<title>Andrew Frankenreider</title>

<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen" />
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" media="screen" />
<link href="{% static 'css/animate.css" rel="stylesheet' %}" />

<link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen" />

<script src="{% static 'js/modernizr.custom.js' %}"></script>
</head>

<header class="header">
    <nav class="navbar navbar-custom" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            </div>

            <div class="collapse navbar-collapse" id="custom-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/my_story">My Story</a></li>
                    <li><a href="/skills">Skills</a></li>
                    <li><a href="/projects">Projects</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<body>
    <div id="preloader">
        <div id="status"></div>
    </div>

    <section id="skills" class="pfblock pfblock-gray">
        <div class="container">
            <div class="row">

                <div class="skills col-xs-12">

                    <h2 class="pfblock-title">PROJECTS</h2>
                    <div class="pfblock-line"></div>

                    <div class="row">
                        <div class="pfblock-subtitle">
                            {% block page_content %} {% for project in projects %}
                            <div class="col-md-6">
                                <div class="card mb-2">
                                    <img class="card-img-top" src="{% static project.image %}">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ project.title }}</h5>
                                        <p class="card-text">{{ project.description }}</p>
                                        <a href="{{ project.repository }}" class="btn btn-primary">Code Repository</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
    </section>

    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.parallax-1.1.3.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.cbpQTRotator.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>

</html>